.form {
    padding: 20px;
    display: flex;
}
.form__input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 2px solid #ddd;
}
.form__button {
    background-color: teal;
    border: none;
    color: #fff;
    padding: 10px
}