.list {
	padding: 20px;
	word-break: break-word;
	margin: 0;
}

.list__item {
	list-style-type: none;
	border-bottom: 2px solid #eee;
	padding: 10px;
	display: flex;
	align-items: center;
}

.list__span {
	margin: 0 15px;
	flex-grow: 1;
}

.list__span--done {
	text-decoration: line-through;
}

.list__button {
	height: 25px;
	width: 25px;
	color: #fff;
	background-color: #1A7B1F;
	border: none;
	font-size: 15px;
	flex-shrink: 0;
}

.list__button:focus {
	outline: 2px solid #000;
}

.list__button--remove {
	background-color: #ED293C;
}