.section {
	background-color: #fff;
	margin-bottom: 10px;
}

.section__header {
	padding: 20px;
	border-bottom: 3px solid #eee;
}

.section__header--grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
}

.section__title {
	font-size: 20px;
	margin: 0;
}

@media (max-width: 767px) {
	.section__header {
		grid-template-columns: 1fr;
	}
}